dask==2.9.0
opencv-python==4.1.2.30
pytest==5.3.1
coverage==4.5.4
pytest-cov==2.8.1
pylint==2.4.4
## The following are for message suppression, they were added by pip freeze:
pandas==0.25.3
PyYAML==5.1.2
